.searchDiv {
  position: relative;
}

.searchDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://th.bing.com/th/id/OIP.831pSaMYWJe4Xf0QltTeuAHaG9?w=694&h=653&rs=1&pid=ImgDetMain");
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.searchForm {
  border-radius: 12px;
  padding: 10px;
  width: 80%;
}

.searchButton {
  background-color: #f65261;
  color: #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.addMovie {
  color: #f65261;
  background-color: #555555;
  font-size: larger;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: ease background-color 250ms;
  float: right;
}
